<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="globals.css" />
<link rel="stylesheet" href="stylle.css" />

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
</head>
<body>
    <div class="desktop">
        <div class="div">
          <div class="text-wrapper">BERITA</div>
          <div class="intro">
            <div class="overlap-group">
              <img class="PSMA" src="{{ url_for('static', filename='images/PSMA.png') }}" alt="PSMA">
              <div class="navbar">
                <div class="text-wrapper-2">Profil</div>
                <div class="text-wrapper-3">Beranda</div>
                <div class="text-wrapper-4">Berita</div>
                <div class="text-wrapper-5">Layanan</div>
                <div class="text-wrapper-6">Bantuan</div>
              </div>
              <div class="text-wrapper-7">PSMA ONLINE</div>
              <p class="PSMA-on-line">
                <span class="span">PSMA On-Line <br />Universitas Gunadarma<br /></span>
                <span class="text-wrapper-8"
                  >Pusat Layanan Sistem Manajemen Akademik<br /><br />Melayani Kartu Recana Studi,Blanko Pembayaran Kuliah
                  (Virtual Account) dan Nilai</span
                >
              </p>
              <img class="krs" src="{{ url_for('static', filename='images/krs.png') }}" alt="Gambar krs">
              <div class="text-wrapper-9">Lihat Cara pengisian krs</div>
            </div>
          </div>
          <p class="pengisian-nilai-oleh">
            <span class="text-wrapper-10"
              >Pengisian Nilai Oleh Dosen Dapat Dilakukan Pada Mail Staff Masing-masing (G-Suite) Atau Dapat Melalui Link
              ==&gt;</span
            >
            <a href="http://staff.gunadarma.ac.id/" target="_blank" rel="noopener noreferrer"
              ><span class="text-wrapper-11"> ISI NILAI</span></a
            >
          </p>
          <div class="text-wrapper-12">Layanan Kami</div>
          <p class="p">Beberapa Layanan Kami Dalam Mendukung Civitas Akademika</p>
          <div class="card">
            <div class="pengisian-krs">
              <div class="overlap-group-2">
                <div class="pengisian-kartu">Pengisian Kartu Rencana Studi<br />(KRS)</div>
                <p class="text-wrapper-13">
                  Pengisian Kartu Rencana Studi(KRS) dilakukan melalui laman studensite masing-masing Mahasiswa
                  Universitas Gunadarma
                </p>
              </div>
            </div>
            <div class="pengisian-nilai">
              <div class="overlap-group-2">
                <p class="text-wrapper-14">Pengisian Nilai (Dosen Universitas Gunadarma)</p>
                <p class="pengisian-nilai-2">
                  <span class="text-wrapper-10"
                    >Pengisian Nilai dilakukan pada mail staff masing-masing dosen (G-Suite) atau bisa melalui link
                    ==&gt;</span
                  >
                  <a href="http://staff.gunadarma.ac.id/" target="_blank" rel="noopener noreferrer"
                    ><span class="text-wrapper-11"> ISI NILAI</span></a
                  >
                </p>
              </div>
            </div>
            <div class="blanko-pembayaran">
              <div class="overlap">
                <div class="rectangle"></div>
                <p class="text-wrapper-15">Blanko Pembayaran Kuliah (Virtual Account)</p>
                <p class="text-wrapper-16">
                  Blanko Pembayaran Kuliah Universitas Gunadarma dapat di lihat langsung di laman studentsite
                  masing-masing
                </p>
              </div>
            </div>
            <div class="daftar-ulang">
              <div class="overlap-group-2">
                <div class="text-wrapper-17">Daftar Ulang</div>
                <p class="text-wrapper-18">Pemutakhiran Data Diri Mahasiswa Gunadarma Jika Mengalami Perubahan</p>
              </div>
            </div>
          </div>
          <div class="text-wrapper-19">Helpdesk</div>
          <p class="text-wrapper-20">
            Kami membuka layanan dibeberapa lokasi kampus gunadarma selain live chat di laman website, kami juga melayani
            lewat no Whatsapp
          </p>
          <p class="location-kampus-e">
            <span class="span">Location:<br /></span>
            <span class="text-wrapper-21"
              ><br />Kampus E Kelapa Dua Depok Gedung 1 (E115)<br /><br />Kampus J1 Kalimalang Bekasi<br /><br />Kampus K
              Karawaci<br /><br />Kampus L Cengkareng</span
            >
          </p>
          <p class="layanan-whatsapp-PSA">
            <span class="span">Layanan Whatsapp:<br /></span>
            <span class="text-wrapper-21"
              ><br />PSA E - 1 --&gt; (087875845293) untuk lokasi Kampus Salemba-Depok<br /><br />PSA E - 2
              --&gt; (087775496174) untuk lokasi Kampus Salemba-Depok<br /><br />PSA J - 1 --&gt; (0895340987371) untuk
              lokasi Kampus Kalimalang-Bekasi<br /><br />PSA J - 2 --&gt; (081934576801) untuk lokasi Kampus
              Kalimalang-Bekasi<br /><br />PSA K / L --&gt; (089654154309) untuk lokasi Kampus Karawaci-Cengkareng</span
            >
          </p>
          <p class="email-psa-gunadarma">
            <span class="span">Email:<br /></span> <span class="text-wrapper-21">psa@gunadarma.ac.id</span>
          </p>
          <p class="PSMA-online-kantor">
            <span class="text-wrapper-22">PSMA-Online<br /></span>
            <span class="text-wrapper-23"
              >Kantor Pusat (Kampus - E Universitas Gunadarma) Komjen Pol M Jasin Depok,
              Indonesia  Email: psa@gunadarma.ac.id</span
            >
          </p>
          <div class="div-wrapper"><p class="text-wrapper-24">Copyright © PSMA-Online 2020 - 2024</p></div>
          <img class="line" src="img/line-1.svg" />
          <img class="img" src="img/line-2.svg" />
        </div>
      </div>
    <div class="container">
        <div class="chatbox">
            <div class="chatbox__support">
                <div class="chatbox__header">
                    <div class="chatbox__image--header">
                        <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                    </div>
                    <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Chat support</h4>
                    <p class="chatbox__description--header">Hi. Ada yang bisa saya bantu?</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" /></button>
        </div>
    </div>
</div>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>